@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  font-family: "Press Start 2P", cursive;
}

.container {
  padding: 0 16px;
  max-width: 980px;
  margin: auto;
  padding-top: 16px;
}

.item > * {
  margin-bottom: 1.5rem !important;
}

.m3 {
  margin: 3rem 0;
}

.nes-btn {
  margin: 0 0.5rem;
}

.btn-grp {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 1rem 0;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: right;
}

.font-small {
  font-size: 0.8rem;
}

.center {
  text-align: center;
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.rotate {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.is-card {
  width: 45%;
}

section.cards {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 1rem;
  font-size: 0.7rem;
  text-align: center;
  color: #ccc;
}

footer a {
  color: #f45d4c;
}
